html {
  background-color: #ccc;
}

#icon {
  width: 24px;
  height: 24px;
}

button,
input {
  padding: 0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  cursor: pointer;
  background-color: var(--clr-bg-accent);
  border: none;
  text-align: center;
  color: var(--clr-txt-light);
}

#app {
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--clr-bg-prime);
  height: 100vh;
}

#header {
  padding: var(--container-padding);
  background-color: var(--clr-bg-second);
  color: var(--clr-txt-light);
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  padding: var(--container-padding);
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & #search-bar {
    display: flex;
    gap: 1rem;
    & input,
    & button {
      height: 3rem;
    }

    & input {
      width: 50ch;
    }
  }

  & #weather-cont {
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    transition: opacity 300ms ease-out;

    font-family:
      system-ui,
      -apple-system;

    background-color: #fefefe;

    & #icon {
      width: 2rem;
    }

    & #metric-button {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    & span:first-child {
      font-weight: bold;
    }

    & span:last-child {
      overflow-wrap: break-word;
    }

    & > :nth-child(odd) {
      background-color: #ccc;
    }

    & > :last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    & > * {
      padding: 0.25rem 1.5rem;
      display: flex;
      justify-content: space-between;
    }

    & #city-name {
      font-family: Arial;
      padding: var(--container-padding);
      background-color: var(--clr-bg-second);
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      color: var(--clr-txt-light);
    }

    & #condition-desc {
      display: flex;
      gap: 1rem;
    }
  }

  & #weather-cont.hidden {
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
  }
}
